---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import About from "@/components/About.astro";
import LatestRelease from "@/components/LatestRelease.astro";
import Discography from "@/components/Discography.astro";
import VideoSection from "@/components/VideoSection.astro";
import Gallery from "@/components/Gallery.astro";
import Platforms from "@/components/Platforms.astro";
import SocialsSection from "@/components/SocialsSection.astro";
import Contact from "@/components/Contact.astro";
---

<Layout>
  <main>
    <Hero />
    <About />
    <LatestRelease />
    <Discography />
    <VideoSection />
    <Gallery />
    <Platforms />
    <SocialsSection />
    <Contact />
  </main>
</Layout>
